@import url("https://fonts.googleapis.com/css2?family=Grandstander:wght@100;200;300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Grandstander', cursive; }

div.frame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: azure;
  border-radius: 10px;
  box-shadow: 0px 0px 5px azure; }
  div.frame h1 {
    color: #5c6bc0;
    margin: 0.7em 0em 0.2em 0em;
    text-transform: uppercase; }
  div.frame p.message {
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1px;
    color: tomato; }
  div.frame i {
    color: #388E3C;
    font-size: 2em;
    transition: 0.3; }
  div.frame div.form {
    display: flex;
    flex-direction: column;
    padding: 1em; }
    div.frame div.form div.name-login, div.frame div.form div.password-login {
      position: relative;
      width: 100%;
      height: auto;
      width: 350px;
      height: 35px;
      padding: 5px 10px;
      margin: 20px; }
      div.frame div.form div.name-login input, div.frame div.form div.password-login input {
        position: absolute;
        width: inherit;
        height: inherit;
        top: 0;
        left: 0;
        font-size: 1.2em;
        border: none;
        outline: none;
        padding-left: 2.2em;
        font-weight: 500;
        background: azure;
        border-bottom: 1px solid #5c6bc0;
        transition: 0.3s; }
      div.frame div.form div.name-login i, div.frame div.form div.name-login p, div.frame div.form div.password-login i, div.frame div.form div.password-login p {
        position: absolute;
        top: 50%;
        left: 10px;
        transform: translate(0%, -50%);
        z-index: 2;
        color: #5c6bc0;
        transition: 0.3s; }
      div.frame div.form div.name-login i, div.frame div.form div.password-login i {
        font-size: 1.2em; }
      div.frame div.form div.name-login p, div.frame div.form div.password-login p {
        font-size: 1em;
        left: 2.5em;
        letter-spacing: 3px;
        transition: 0.3s; }
      div.frame div.form div.name-login span.message, div.frame div.form div.password-login span.message {
        position: absolute;
        bottom: -20px;
        right: 0;
        font-size: 0.7em;
        font-weight: 500;
        letter-spacing: 1px;
        color: tomato;
        width: auto; }
    div.frame div.form div.name-login.focus input, div.frame div.form div.password-login.focus input {
      border-bottom: 2px solid #5c5d5c;
      color: #5c6bc0; }
    div.frame div.form div.name-login.focus i, div.frame div.form div.password-login.focus i {
      color: #5c5d5c; }
    div.frame div.form div.name-login.focus p, div.frame div.form div.password-login.focus p {
      top: -5px;
      left: 2em;
      color: #5c5d5c;
      font-weight: 600;
      letter-spacing: 0px; }
    div.frame div.form i.form-display-pw {
      position: relative;
      width: 100%;
      height: auto;
      margin-left: 15px;
      font-size: 1.5em;
      color: #5c6bc0;
      transition: 0.3s; }
    div.frame div.form i.form-display-pw:hover {
      color: #5c5d5c; }
    div.frame div.form i.form-display-pw:after {
      content: 'password visibility';
      font-size: 0.7em;
      position: absolute;
      top: 10%;
      left: 7%; }
    div.frame div.form div.tools {
      position: relative; }
    div.frame div.form button.form-register, div.frame div.form button.form-login {
      width: 20%;
      position: absolute;
      top: 5px;
      right: 5px;
      background: 0;
      border: 0;
      outline: 0;
      font-size: 1em;
      color: #5c6bc0;
      cursor: pointer; }
    div.frame div.form button.form-register:hover, div.frame div.form button.form-login:hover {
      color: #5c5d5c; }
    div.frame div.form button.form-submit {
      margin: 1em 0;
      height: 40px;
      font-size: 1.2em;
      border: none;
      outline: none;
      border-radius: 20px;
      cursor: pointer;
      color: azure;
      background: #5c6bc0;
      transition: 0.5s; }
    div.frame div.form button.form-submit:hover {
      background: #5c5d5c; }
